a:link {
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

*
{
border: 0;
margin: 0;
}

body
{
	background: #ffffff url(images/back_all.jpg) repeat-x top;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
	margin-top: 10px;
}

#main
{
margin: 0 auto;
width: 912px;
background: url(images/table_back.jpg) repeat-y;
}

#header
{
background: url(images/header.jpg) no-repeat;
width: 916px;
height: 278px;
}

#logo
{
padding-left: 40px;
text-align: left;
padding-top: 190px;
height: 40px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
	color: #ffffff;
	font-weight: bold;
}


#logo H2 a
{
font-size: 10px;
}


#content
{
width: 870px;
padding: 15px;
}


.small
{
margin: 15px;
padding: 5px;
border: 1px solid #99A067
}


#sidebar 
{
width: 254px;
}

#sidebar ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li 
{
	margin-bottom: 15px;

}


#sidebar li h2 {
	height: 20px;
	margin: 0;
	padding: 0 0 0 0;
	font-size: 15px;
	color: #ffffff;
	text-align:center;
	font-variant: small-caps;
}

#sidebar li a {
	padding-left: 10px;
	background: url(images/img09.gif) no-repeat 1px 5px;
}


#footer
{
	background: url(images/footer.jpg) repeat-x;
	height: 52px;
	font-size: 10px;
	color: #ffffff;
	padding-top: 20px;
	text-align: center;
	border-top: #ffffff solid 5px;
}

#footer a
{
color: #ffffff;
font-size: 10px;
text-decoration: none;
}
.padding
{
padding: 10px;
color:#FF0000;
font-weight: bold;
}